* {
margin: 0;
padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0 0 75px;
}

header {
    width: 100%;
    margin: auto;
    background-color: #0688fa;
}
nav {
    width: 95%;
    height: 35px;
    list-style-type: none;
    padding: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
    margin: 0;
    overflow: hidden;
}

nav ol {
    width: 85%;
    float: left;
}

nav ol li {
    display: inline-block;
    margin-right: 3%;
    margin-left: 3%;
}

nav ol li:first-child {
    margin-right: 0;
}

nav p {
    margin-left: 0;
    font-size: 1.6rem;
}

nav .button {
    padding: 3%;
    width: 150%;
    border: 1px solid white;
    padding: 8%;
    border-radius: 5px;
    align-content: center;
    font-size: 1.2rem;
    text-align: center;
    
}

nav .userFrame {
    width: 14%;
    float: left;
    border: 1px solid white;
    border-radius: 5px;
    align-content: center;
    text-align: center;
    height: 35px;
}

nav .userFrame img {
    display: inline-block;
    width: 25%;
    height: 35px;
}

nav .userFrame span {
    font-size: 16px;
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 70%;
    height: 35px;
    position: relative;
    top: -30%;
}

.indexMain, .loginMain, .registerMain, .registerSucces, .confirmOpinion {
    margin-top: 7%;
    width: 100%;
}

.indexMain, .loginMain, .registerSucces, .confirmOpinion, .employeeInfo {
    background-color: #0688fa;    
}
main .container {
     padding: 10%;
        padding-top: 3%;
        padding-bottom: 3%;
    text-align: justify;
}
main .container h1 {
    text-align: center;
    padding: 2%;
        padding-top: 0;
}


.content {
    width: 16%;
    margin: auto;
    margin-top: 6%;
}

.myButton {
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 37px;
	text-decoration:none;
    
}
.myButton:hover {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}
   
footer {
    margin-top: 10%;
    width: 100%;
    height:75px;
    background-color: #0688fa;  
    position: absolute;
    bottom: 0;
}

footer p {
    margin-left: 2%;
}

a {
    text-decoration: none;
}
a:any-link {
    text-decoration: none;
    color: white;
}
/*LOGOWANIE*/

main .login {
    display: inline-block;
    float: left;
    width: 35%;
    padding: 4%;
    margin-left: 8%;
    border-right: thin solid black;
}

main .login .loginform {
    margin: auto;
    display: table;
}

main .login .loginform input, span{
    margin: 0%;
        margin-top: 3%;
        margin-bottom: 3%;
}

main .register {
    display: inline-block;
    float: left;
    width: 40%;
    padding: 4%;
}

main .register span {
    display: block;
    padding-top: 7%;
    padding-bottom: 10%;
    margin: auto;
}

.loginFooter {
    margin-top: 10%;
    width: 100%;
    height:75px;
    background-color: #0688fa;  
    position: absolute;
    bottom: 0;
}

/*REJESTRACJA*/
main .registerPage {
    margin: auto;
    width: 40%;
}

main .registerPage input {
    margin-bottom: 5%;
}

main .registerPage .leftPane {
    margin: auto;
    width: 40%;
    display: inline-block;
    padding: 4.5%;
}

main .registerPage .rightPane{
    width: 40%;
    margin: auto;
    display: inline-block;
    padding: 4.5%;
}

main .registerPage a {
    display: block;
    width: 30%;
    margin: auto;
    text-align: center;
}
/*REJESTRACJA POMYSLNA*/
.registerSucces, .confirmOpinion, .employeeInfo {
    width: 96%;
    margin: auto;
        margin-top: 10%;
    padding: 2%;
    text-align: center;
}

.registerSucces span {
    display: block;
    font-size: 2rem;
}

.registerButton{
    width: 100%;
    margin: auto;
        margin-top: 5%;
}

.registerButton a .myButton {
    margin: auto;
}

/*ABOUT US*/
.aboutUs {
    width: 35%;
    padding: 5%;
    padding-bottom: 10%;
    letter-spacing: 1.3px;
    font-size: 1.2rem;
    display: inline-block;
}

.aboutUs h1 {
    margin-bottom: 15px;
    font-size: 2.3rem;
}

.backgroundAbout {
    /*fix*/
    background-image: url("../img/tlo2.png");
    background-size: cover;
    margin-bottom: -5%;
}
/*REVIEW*/
.makeOpinion {
    width: 45%;
    margin: auto;
        margin-top: 10%;
}

.makeOpinion span {
    margin: 5px;
    display: block;
}

.makeOpinion textarea {
    margin-left: 6px;
}
/*REVIEW CONFIRM*/
.confirmButton {
    padding: 10%;
    display: inline;
}
.confirmOpinion {
    font-size: 2rem;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 5%;
}

/*EMPLOYEE*/
.employee {
    width: 85%;
    margin: auto;
    margin-top: 5%;
}
.employee table, .employee th, .employee td {
    border: 1px solid black;
}
.employee th, .employee td {
    padding: 15px;
    text-align: center;
}

/*SERVICES CHOICES*/
.services {
    width: 80%;
    padding: 10%;
    margin: auto;
    padding: 2%;
}

.services .image {
    width: 225px;
    height: 125px;
    background-color: blueviolet;
    border-radius: 4px;
}

.services .desc {
    width: 225px;
    height: 170px;
    background-color: #85b0da;
    /*border: 2px solid grey;*/
    /*border-radius: 4px;*/
    text-align: left;
}
.services .myButton {
    width: 40%;
    margin-top: 5%;
}

.services table th {
    padding: 20px;
}

.servicePackage {
    border: 2px solid grey;
    border-radius: 4px;
}
/*SERVICES DATE*/
aside {
    float: left;
    width: 12%;
    background-color: #0688fa;
    padding: 3%;
    position: absolute;
    bottom: 0;
    top: 5%;
    left: 0;
}
.serviceDate {
    float: left;
    width: 70%;
    padding: 2%;
    margin-left: 18%;
}

.date {
    width: 30%;
    float: left;
}

.employessDate {
    width: 68%;
    float: left;
    font-size: 0.7rem;
    margin-left: 15px;
}

.employessDate .myButton {
    font-size: 0.7rem;
}

.employessDate table, .employessDate th, .employessDate td {
    border: 1px solid black;
}
.employessDate th, .employessDate td {
    padding: 15px;
    text-align: center;
}

/*SERVICES DATE*/
.serviceChange {
    width: 70%;
    margin: auto;   
    font-size: 1.2rem;
}
.summary {
    width: 45%;
    float: left;
    padding: 3%;
}

.summary #datepicker {
    margin: 4%;
        margin-left: 0;
}

.summary p {
    padding: 1.5%;
    margin-bottom: 1%;
}
.summaryInput {
    width: 40%;
    float: left;
    padding: 3%;
    margin-top: 6%;
}

.summaryInput input, .summaryInput span {
    margin: 3%;
    margin-left: 0;
}
/*REVIEWS ALL*/
.employeeInfo {
    font-size: 1.3rem;
}


