<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../css/Style.css" />
    <script type="text/javascript" src="../js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="../js/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="../js/controller.js"></script>
    <script type="text/javascript" src="../js/route.js"></script>

    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ol>
                <li><p>Super salon usługowy</p></li>
                <li><div class="button">OFERTA</div></li>
                <li><div class="button">ZESPÓŁ</div></li>
                <li><div class="button"><a ng-href="/about.html">O NAS </a></div></li>
                <li><div class="button">OPINIE</div></li>
            </ol>
<!--            zmienic na twoje konto-->
            <a ng-href="/view/login.html"><div class="userFrame"><span>Zaloguj Się</span><img src="../img/user2.png" height="35px"></div></a>
            <div style="clear: both"> </div>
        </nav>
    </header>
    <main class="registerSucces">
            <span>Konto Utworzone !</span>
            <p> Na adres e-mail został wysłany link do aktywacji konta </p>
            <br/><br/>
    </main>
        <center>
            <div class="content">
                <a ng-href="login.html" class="myButton">Powrót !</a>
            </div>
        </center>

    <footer><br/>
        <p>Super salon usługowy</p>
    </footer>
</body>
</html>
