* {
margin: 0;
padding: 0;
}

body {
    width: 100%;
    height: 100%:
}

header {
    width: 100%;
    margin: auto;
    background-color: skyblue;
}
nav {
    width: 95%;
    height: 35px;
    list-style-type: none;
    padding: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
    margin: 0;
    overflow: hidden;
}

nav ol {
    width: 85%;
    float: left;
}

nav ol li {
    display: inline-block;
    margin-right: 3%;
    margin-left: 3%;
}

nav ol li:first-child {
    margin-right: 0;
}

nav p {
    margin-left: 0;
    font-size: 1.6rem;
}

nav .button {
    padding: 3%;
    width: 150%;
    border: 1px solid white;
    padding: 8%;
    border-radius: 5px;
    align-content: center;
    font-size: 1.2rem;
    text-align: center;
    
}

nav .userFrame {
    width: 14%;
    float: left;
    border: 1px solid white;
    border-radius: 5px;
    align-content: center;
    text-align: center;
    height: 35px;
}

nav .userFrame img {
    display: inline-block;
    width: 25%;
    height: 35px;
}

nav .userFrame span {
    font-size: 16px;
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 70%;
    height: 35px;
    position: relative;
    top: -30%;
}

main {
    margin-top: 7%;
    width: 100%;
    background-color: skyblue;    
}
main .container {
     padding: 10%;
        padding-top: 3%;
        padding-bottom: 3%;
    text-align: justify;
}
main .container h1 {
    text-align: center;
    padding: 2%;
        padding-top: 0;
}


.content {
    width: 16%;
    margin: auto;
    margin-top: 6%;
}

.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 37px;
	text-decoration:none;
    
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}
   
footer {
    margin-top: 10%;
    width: 100%;
    height:55px;
    background-color: skyblue;  
    position: absolute;
    bottom: 0;
}

footer p {
    margin-left: 2%;
}

a {
    text-decoration: none;
}
a:any-link {
    text-decoration: none;
    color: white;
}
/*LOGOWANIE*/

main .login {
    display: inline-block;
    float: left;
    width: 40%;
    padding: 5%;
}

main .register {
    display: inline-block;
    float: left;
    width: 40%;
    padding: 5%;
}