<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/Style.css" />
    <link rel="stylesheet" type="text/css" href="css/bulma.css" />
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/loginController.js"></script>
    <script src="js/app.js"></script>
    <script src="js/employeeReservationsController.js"></script>
    <script src="js/lib/angular-cookies/angular-cookies.js"></script>
    <script src="js/lib/angular-route/angular-route.js"></script>
    <script src="js/lib/angular-sanitize/angular-sanitize.js"></script>
    <title>Home</title>
</head>
<body ng-controller="employeeReservationsController as rez">
<header class="nav">
    <nav>
        <p class="logoFrame"><a href="indexEmployee.html"><img src="/img/beaute_white.png" style="height: 40px"></a></p>
        <ol>
            <li><a class="employeeOptions" href="employeeProducts.html"><span class="optionsInfo">Stan magazynów</span></a></li>
            <li><a class="employeeOptions" href="employeeReview.html"><span class="optionsInfo">Zobacz opinie</span></a></li>
        </ol>
        <a href="loginEmployee.html" ng-if="getCookie('username').length < 2"><div class="userFrame"><span>Zaloguj Się</span><img src="img/user2.png" height="35px"></div></a>

        <a href="index.html" ng-if="getCookie('username').length > 1" ng-click="removeCookies()"><div class="userFrame"><span>Wyloguj Się</span><img src="img/logout.png" height="35px"></div></a>

        <div style="clear: both"> </div>
    </nav>
</header>
<main>
    <div class="userReservations" style="width: 100%">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1> Twoje dzisiejsze rezerwacje </h1>
                </div>
            </div>
        </section>
        <center>
            <table class="table is-bordered is-hoverable">
                <thead>
                <tr>
                    <th>Nazwa usługi</th>
                    <th>Czas trwania</th>
                    <th>Cena</th>
                    <th>Data</th>
                    <th>Klient</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in rez.employee | filter:{r:'!'} track by $index" >
                    <th>{{r.service.name}}</th>
                    <th>{{r.service.duration}}</th>
                    <th>{{r.service.price}}</th>
                    <th><span ng-bind="r.workDate.date | date:'hh:mm dd.MM.yyyy'"> </span></th>
                    <th>{{r.client.firstName + ' ' + r.client.lastName}}</th>
                </tr>
                </tbody>
            </table>
        </center>
    </div>
</main>
<div style="clear:both;"></div>
<footer class="footer">
    <div class="employeeFooterAside">
        <p><img class="logoTileEmployee" src="/img/beaute_white.png"></p>
    </div>
    <div class="employeeFooterAsideRight">
        <span>Dzisiejsza data <span ng-bind="currentDate | date:'hh:mm dd-mm-yyyy'"> </span> </span>
    </div>
    <div></div>
    <div></div>
    <center><h3 class="copyRightEmployee">Copyright © Beauté </h3></center>
    <p class="flaticon bottomFooter">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
    <p>Bulma by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.

    </p>
</footer>
</body>
</html>
