<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/Style.css" />
    <link rel="stylesheet" type="text/css" href="css/bulma.css" />
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/loginController.js"></script>
    <script src="js/app.js"></script>
    <script src="js/lib/angular-cookies/angular-cookies.js"></script>
    <script src="js/lib/angular-route/angular-route.js"></script>
    <script src="js/lib/angular-sanitize/angular-sanitize.js"></script>
    <title>Accepted</title>
</head>
<body>
<header class="nav">
    <nav>
        <p class="logoFrame"><a href="index.html"><img src="/img/beaute_white.png" style="height: 40px"></a></p>
        <ol>
            <li><div class="nav-button"><a href="serviceChoice.html">OFERTA </a></div></li>
            <li><div class="nav-button"><a href="employee.html">ZESPÓŁ </a></div></li>
            <li><div class="nav-button"><a href="info.html">O NAS </a></div></li>
            <li><div class="nav-button"><a href="reviewShowAll.html">OPINIE</a></div></li>
            <li><div class="nav-button"><a href="contact.html">KONTAKT</a></div></li>
        </ol>
        <a href="login.html" ng-if="getCookie('username').length < 2"><div class="userFrame"><span>Zaloguj Się</span><img src="img/user2.png" height="35px"></div></a>

        <a href="index.html" ng-if="getCookie('username').length > 1" ng-click="removeCookies()"><div class="userFrame"><span>Wyloguj Się</span><img src="img/logout.png" height="35px"></div></a>

        <div style="clear: both"> </div>
    </nav>
</header>
    <main class="registerSucces">
            <span class="title is-2">Usługa Utworzona !</span>
            <p class="title is-3">Zamówiłeś usługę, czekamy na ciebie ;) </p>
            <br/><br/>
    </main>
        <center>
            <div class="buttonPlace">
                <a ng-href="index.html" class="button is-info is-large">Powrót !</a>
            </div>
        </center>

    <div ng-bind-html="Footer"></div>
</body>
</html>
