<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/Style.css" />
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/loginController.js"></script>
    <script src="js/app.js"></script>
    <script src="js/adminController.js"></script>
    <script src="js/lib/angular-cookies/angular-cookies.js"></script>
    <script src="js/lib/angular-route/angular-route.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="js/lib/angular-sanitize/angular-sanitize.js"></script>

    <title>Change service</title>
</head>
<body ng-controller="adminController as admin">
<header>
    <nav>
        <ol>
            <li><p><a href="indexAdmin.html">Super salon usługowy </a></p></li>
        </ol>
        <a href="login.html" ng-if="getCookie('username').length < 2"><div class="userFrame"><span>Zaloguj Się</span><img src="img/user2.png" height="35px"></div></a>
        <a href="index.html" ng-if="getCookie('username').length > 1" ng-click="removeCookies()"><div class="userFrame"><span>Wyloguj Się</span><img src="img/logout.png" height="35px"></div></a>
        <div style="clear: both"> </div>
    </nav>
</header>
<main class="serviceChange">
    <div class="employeeInput">
        <p style="font-size: 1.8rem">Nowy Pracownik</p>

        <div class="middlePane">
            <span>Imię:</span><br/>
            <input type="text" value="{{admin.singleItem.firstName}}" ng-model="admin.singleItem.firstName"><br/>
            <span>Nazwisko:</span><br/>
            <input type="text" value="{{admin.singleItem.lastName}}" ng-model="admin.singleItem.lastName"><br/>
            <span>Login:</span><br/>
            <input type="text" value="{{admin.singleItem.login}}" ng-model="admin.singleItem.login"><br/>
            <span>Hasło:</span><br/>
            <input type="text" value="{{admin.singleItem.hash}}" ng-model="admin.singleItem.hash"><br/>
        </div>


        <a ng-click="admin.save('employees')" class="myButton">Utwórz konto pracownika</a>

        <a href="indexAdmin.html" class="myButton">Wróć</a>
    </div>
</main>
<div style="clear: both"></div>
<div ng-bind-html="Footer"></div>
</body>
</html>
