<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/Style.css" />
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/loginController.js"></script>
    <script src="js/app.js"></script>
    <script src="js/productController.js"></script>
    <script src="js/lib/angular-cookies/angular-cookies.js"></script>
    <script src="js/lib/angular-route/angular-route.js"></script>
    <title>Products</title>
</head>
<body>
    <header>
        <nav>
            <ol>
                <li><p><a href="indexEmployee.html">Super salon usługowy </a></p></li>
                <li><a class="employeeOptions" href="employeeProducts.html"><span class="optionsInfo">Stan magazynów</span></a></li>
                <li><a class="employeeOptions" href="employeeReview.html"><span class="optionsInfo">Zobacz opinie</span></a></li>
            </ol>
            <a href="login.html" ng-if="getCookie('username').length < 2"><div class="userFrame"><span>Zaloguj Się</span><img src="img/user2.png" height="35px"></div></a>
            <a href="index.html" ng-if="getCookie('username').length > 1" ng-click="removeCookies()"><div class="userFrame"><span>Wyloguj Się</span><img src="img/logout.png" height="35px"></div></a>

            <div style="clear: both"> </div>
        </nav>
    </header>
    <main class="employee" ng-controller="productController as product">
        <center>
            <h3>Stan produktów :</h3>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa Produkty</th>
                    <th>Cena</th>
                    <th>Ilość</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in product.products" >
                    <th>{{p.id}}</th>
                    <th>{{p.type.name}}</th>
                    <th>{{p.type.price}}</th>
                    <th>{{p.quantity}}</th>
                    <th><a ng-href="#" class="myButton">Zamów produkty !</a></th>
                </tr>
                </tbody>
            </table>
        </center>
    </main>
        <center>
            <div class="content">
                <a href="indexEmployee.html" class="myButton">Powrót !</a>
            </div>
        </center>

    <footer><br/>
        <p>Super salon usługowy</p>
        <div class="flaticon">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </footer>
</body>
</html>
