<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/Style.css" />
    <link rel="stylesheet" type="text/css" href="css/bulma.css" />
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/loginController.js"></script>
    <script src="js/app.js"></script>
    <script src="js/registerController.js"></script>
    <script src="js/lib/angular-cookies/angular-cookies.js"></script>
    <script src="js/lib/angular-route/angular-route.js"></script>
    <script src="js/lib/angular-sanitize/angular-sanitize.js"></script>

    <title>Register page</title>
</head>
<body>
<header class="nav">
        <nav>
            <p class="logoFrame"><a href="index.html"><img src="/img/beaute_white.png" style="height: 40px"></a></p>
             <ol>
                <li><div class="nav-button"><a href="serviceChoice.html">OFERTA </a></div></li>
                <li><div class="nav-button"><a href="employee.html">ZESPÓŁ </a></div></li>
                <li><div class="nav-button"><a href="info.html">O NAS </a></div></li>
                <li><div class="nav-button"><a href="reviewShowAll.html">OPINIE</a></div></li>
                 <li><div class="nav-button"><a href="contact.html">KONTAKT</a></div></li>
            </ol>
            <a href="login.html" ng-if="getCookie('username').length < 2"><div class="userFrame"><span>Zaloguj Się</span><img src="img/user2.png" height="35px"></div></a>
            
            <a href="index.html" ng-if="getCookie('username').length > 1" ng-click="removeCookies()"><div class="userFrame"><span>Wyloguj Się</span><img src="img/logout.png" height="35px"></div></a>
            
            <div style="clear: both"> </div>
        </nav>
    </header>
    <main class="registerMain" ng-controller="registerController as register">
        <div class="registerPane">
            <div class="registerForm">
                <center><h1>Utwórz konto</h1></center>
                <center><h2 style="color: red">{{register.errorMsg}}</h2></center>
                <form>
                    <div class="leftPane">
                        <span>Login</span><br/>
                        <input class="input" type="text" id="login" ng-model="register.person.login" required><br/><br/>
                        <span>Hasło</span><br/>
                        <input class="input" type="password" id="hash" ng-model="register.person.hash" required><br/><br/>
                        <span>Imie</span><br/>
                        <input class="input" type="text" id="firstName" ng-model="register.person.firstName" placeholder="np. Aleksander" required><br/><br/>
                    </div>
                    <div class="rightPane">
                        <span>Nazwisko</span><br/>
                        <input class="input" type="text" id="lastName" ng-model="register.person.lastName" placeholder="np. Kowalski" required><br/><br/>
                        <span>Numer telefonu</span><br/>
                        <input class="input" type="tel" id="phoneNumber" ng-model="register.person.phoneNumber" placeholder="np. 123 123 123" required><br/><br/>
                        <span style="visibility: hidden">Email</span>
                        <input type="tel" style="visibility: hidden"><br/><br/>
                    </div>
                    <br/>
                    <span>Zakładając konto oświadczasz, że          zapoznałeś się z Regulaminem serwisu            ssu.io
                        i akceptujesz jego treść. Oświadczasz także, iż ukończyłeś 18 lat.<br/><br/></span>
                    <a ng-click="register.addPerson(register.person)" class="button is-info is-large">Zarejestruj się !</a>
            </form>
            </div>
            
        </div>
    </main>

<div ng-bind-html="Footer"></div>
</body>
</html>
