<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/Style.css" />
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/loginController.js"></script>
    <script src="js/app.js"></script>
    <script src="js/servicesController.js"></script>
    <script src="js/workdatesController.js"></script>
    <script src="js/lib/angular-cookies/angular-cookies.js"></script>
    <script src="js/lib/angular-route/angular-route.js"></script>
    <title>Date service</title>
</head>
<body ng-controller="servicesController as service">
    <header>
        <nav>
             <ol>
                <li><p><a href="index.html">Super salon usługowy </a></p></li>
                <li><div class="button"><a href="serviceChoice.html">OFERTA </a></div></li>
                <li><div class="button"><a href="employee.html">ZESPÓŁ </a></div></li>
                <li><div class="button"><a href="info.html">O NAS </a></div></li>
                <li><div class="button"><a href="reviewShowAll.html">OPINIE
                </a></div></li>
            </ol>
            <a href="login.html" ng-if="getCookie('username').length < 2"><div class="userFrame"><span>Zaloguj Się</span><img src="img/user2.png" height="35px"></div></a>
            <a href="index.html" ng-if="getCookie('username').length > 1" ng-click="removeCookies()"><div class="userFrame"><span>Wyloguj Się</span><img src="img/logout.png" height="35px"></div></a>
            <div style="clear: both"> </div>
        </nav>
    </header>
    <aside>Wybrane usługi:
       <textarea disabled style="resize: none" rows="10" cols="20">Nazwa usługi : {{service.serviceName}}
        </textarea>
    </aside>
    <main class="serviceDate">
        <div class="employessDate" ng-controller="workdatesController as date">
            <table style="font-size: 1.05rem">
                <thead>
                    <tr>
                        <th>Dzień</th>
                        <th style="width: 120px">Godziny</th>
                        <th>Pracownicy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in date.dates">
                        <td><p ng-bind="d.date | date:'MM/dd/yyyy'"> </p></td>
                        <td><span ng-bind="d.date | date:'hh:mm'"> </span> - <span ng-bind="d.date + 1800000 | date:'hh:mm'"> </span></td>
                        <td>
                            <table style="border: 0;">
                                <tbody>
                                <tr ng-repeat="e in d.employees">
                                    <th style="font-weight: normal">{{e.firstName + ' ' + e.lastName}}</th>
                                    <th><a ng-click="date.saveServiceInto(d.date, e.firstName, e.lastName, d.id)" class="myButton">Wybierz datę</a></th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <div style="clear: both"></div>
    <footer class="loginFooter"><br/>
        <p>Super salon usługowy</p>
    </footer>
</body>
</html>
